# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view .full-menu .header': [
    {
      'label': 'Ansible Add Role'
      'command': 'ansible-helper:add_role'
    }
  ]
  '.tree-view .full-menu .file': [
    {
      'label': 'Ansible Vault Encrypt'
      'command': 'ansible-helper:vault-encrypt'
    }
    {
      'label': 'Ansible Vault Decrypt'
      'command': 'ansible-helper:vault-decrypt'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'ansible-helper'
      'submenu': [
        {
          'label': 'Turn On Modules'
          'command': 'ansible-helper:toggle'
        }
      ]
    ]
  }
]
